@import url(http://fonts.googleapis.com/css?family=Raleway:700,400|Merriweather:800italic,400italic);
.mailchimp {
  margin: 0 auto;
  text-align: center; }

#mc_embed_signup {
  color: #34495e;
  text-align: center; }
  #mc_embed_signup form {
    display: block;
    position: relative; }
  #mc_embed_signup .email {
    display: block;
    padding: 1rem;
    margin: 4.5% auto 0 auto;
    width: 96.25%;
    text-align: center;
    background: #ecf0f1;
    -webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
    border: 0.5rem solid #ecf0f1;
    font: normal 800 3rem/3.5rem "Raleway", Helvetica, Arial, sans-serif; }
    #mc_embed_signup .email:focus {
      border-color: #34495e;
      -webkit-transition: border-color 0.5s ease;
      transition: border-color 0.5s ease; }
  #mc_embed_signup .button {
    clear: both;
    color: #ecf0f1;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 100%;
    border: 0.5rem solid #ecf0f1;
    margin: 4.5% auto 0 auto;
    letter-spacing: 0.03em;
    font: normal 800 3rem/3.5rem "Raleway", Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    text-transform: uppercase;
    text-align: center;
    background: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 6.5rem; }
    #mc_embed_signup .button:hover {
      border-color: #34495e;
      color: #34495e;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }

html {
  font-size: 62.5%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 62.5%; }

h1, h2, h3, h4 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #ecf0f1; }

img, embed, object, video {
  max-width: 100%; }

h1 {
  font: normal 800 5rem/5rem "Raleway", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  text-transform: uppercase;
  text-align: center; }

h2 {
  font: normal 400 3.1rem/5rem "Raleway", Helvetica, Arial, sans-serif; }

h3 {
  font: normal 800 2.4rem/3.8rem "Raleway", Helvetica, Arial, sans-serif;
  margin-bottom: 1.9rem; }

.bg {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover; }

.container {
  text-align: center;
  margin: auto;
  margin-top: 5%;
  width: 61.8%; }

.title {
  border: 1em solid #ecf0f1;
  letter-spacing: 0.05rem; }

.overlay {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(122, 156, 147, 0.5); }

.bottom {
  padding-top: 10%;
  min-height: 50%; }

p {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  font: italic 400 2.5rem/4rem "Merriweather", Georgia, Times, "Times New Roman", serif;
  margin-top: 9%;
  margin-bottom: 9%;
  color: #ecf0f1;
  min-height: 50%; }
  p strong {
    font: inherit;
    font-weight: 800; }

.coming {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ecf0f1;
  font-size: 4rem; }

::-moz-selection {
  background: rgba(122, 156, 147, 0.9);
  color: #ecf0f1; }

::selection {
  background: rgba(122, 156, 147, 0.9);
  color: #ecf0f1; }

::-moz-selection {
  background: rgba(122, 156, 147, 0.9);
  color: #ecf0f1; }

@media all and (min-width: 1001px) {
  .container {
    max-width: 800px; } }
@media all and (max-width: 1000px) {
  .mailchimp {
    width: 75%; } }
@media all and (max-width: 699px) {
  .container, .mailchimp {
    width: 85%; } }
@media all and (max-width: 480px) {
  .container, .mailchimp {
    width: 90%; }

  h1 {
    font-size: 3.5rem; }

  p {
    font-size: 1.5rem; } }
